
body{
    background :linear-gradient(100deg, rgb(215, 59, 59), rgb(223, 138, 27), rgb(22, 163, 29));
    background-repeat: no-repeat;
   
}

.images{
    
   display:none;

}
#game{
    display: grid;
    justify-content: center;
}

#restart{
    background-color: #4CAF50; 
  border-radius: 20%;
  border-color:rgb(22, 184, 95);
  color: white;
  padding: 15px 32px;
  display:center;
  font-size: 16px;
  position : absolute;
  top: justify;
  left:justify;
 

}



